:root {
    --primary-color: black;
    --secondary-color: green;
    --background-color: rgba(174, 239, 177, 0.355);
    --spacing: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 7rem;
    color: var(--primary-color);
    text-align: left;
    font-family: 'Antonio', sans-serif;
    padding: 0;
    cursor: default;
    top: 2rem;
}

h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px;
    margin: 0; 
    cursor: default;
}

span {
    font-weight: bold;
    color: var(--secondary-color);
}

header {
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing);
    padding: 5rem 5rem;
    align-items: center;
    background-color: var(--background-color);
    margin-top: 20px;
    flex-wrap: wrap;
}
